# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.whl
*.egg-info/
*.eggs/
dist/
build/
*.egg

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?

# Thumbnails
._*

# Temporary files
~$*
*.swp
*.tmp

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/